
<div class="container">
    <div class="jumbotron" style="text-align:center; margin-top:70px;">
        <h2>POS System for you!!</h2>
        <p style="font-family:'Angsana New'; font-size:26px;">
            Welcome to POS System! Log in to a world of smart shopping! Do not miss out on the Biggest Sale Ever.
            You will find the largest collection of products out here on lowest price deals!
            Free Shipping costs, multiple payment options and easy return policies are like cherries on the sundae!
        </p>
        <img class="img-responsive" src="~/App_Data/QuickKart.png" style="height:80px;width:605px;display:block;margin:0px auto;" />
    </div>
</div>
